
<body>
  <h1>Welcome to the home page!</h1>
  <p>
  The game is paper, rock, scissors. Paper beats rock, rock beats scissors, and scissors beat paper. I know the idea of paper 'beating' rock is absurd, but it's just a game so try to use some imagination and not spoil it for the rest of us.
  </p>
</body>